syntax on
filetype plugin indent on

" pymode-settings
" Turn on rope autocompletion support
let g:pymode_rope = 1
" Stop autocomplete on dot
let g:pymode_rope_complete_on_dot = 0
" Turn off doc dropdowns
let g:pymode_doc = 0

" Vim display a menu when only 1 item is available for autocomplete
" Vim will not automatically insert that item.
set completeopt=menuone,noinsert

set bs=indent,eol,start
set ruler
set number
set bg=dark
set hlsearch
set incsearch
set nowrap

set softtabstop=2
set shiftwidth=2
set expandtab

set undodir={{ vim_undodir }}
set undofile

set termguicolors

noremap <Up> <nop>
noremap <Down> <nop>
noremap <Left> <nop>
noremap <Right> <nop>
noremap <Insert> <nop>
noremap <Delete> <nop>
noremap <Home> <nop>
noremap <End> <nop>
noremap <PageUp> <nop>
noremap <PageDown> <nop>
