syntax on

" Turn off doc dropdowns
let g:pymode_doc = 0
" Stop autocomplete on dot
let g:pymode_rope_complete_on_dot = 0

set bs=indent,eol,start
set ruler
set number
set bg=dark
set hlsearch
set incsearch
set nowrap

set softtabstop=2
set shiftwidth=2
set expandtab

set undodir={{ vim_undodir }}
set undofile

set termguicolors

noremap <Up> <nop>
noremap <Down> <nop>
noremap <Left> <nop>
noremap <Right> <nop>
noremap <Insert> <nop>
noremap <Delete> <nop>
noremap <Home> <nop>
noremap <End> <nop>
noremap <PageUp> <nop>
noremap <PageDown> <nop>
